body {
    max-width: 1000px;
    margin: 50px 50px 50px 50px;
    background-color: white;
}

li {
    margin: 10px 0;
}

.container {
    align-items: center;
    justify-content: center;
  }
  
  img {
    max-width: 25%;
    max-height:15%;
    float: right;
  }
  
  .text {
    float: right;
  }
